@import "tailwindcss";

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

* {
  scrollbar-color: #000000 #ffffff; /* thumb color track color */
  scrollbar-width: thin; /* auto | thin | none */
  scroll-behavior: smooth;
}

.reviewsDiv {
  scrollbar-color: #ffffff #000000; /* thumb color track color */
  scrollbar-width: thin; /* auto | thin | none */
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    sans-serif;
}
